<div class="columns">
  <div class="column">
    <figure class="image is-70">
      <img class="is-rounded" src="src/assets/img/portrait-100.jpg">
    </figure>
    <p class="is-size-5">
      Hi, my name is Andres Osorio. I’m an electronics engineer passionate about web development.
      <br>
      <br> I’m a ☕ addict and 🌶️ lover.
    </p>
  </div>
  <div class="column">
    <h1 class="is-title">My Work</h1>
    <p class="is-size-5">
      Currently I work for a software development company as a frontend developer. Regularly I work with Angular and React. in
      different projects. In my spare time I like to experiment with IoT and build some cool useful projects.
      <br>
      <br> I love everything related to JavaScript and Python.
    </p>
    <a href="/contact" class="button is-large is-primary">Say hi!</a>
  </div>